<p id="notice"><%= notice %></p>
<div class="container1">
<h1>
  <%= @theatre.name %>
</h1>
<hr>
<p>
  <strong>Capacity:</strong>
  <%= @theatre.capacity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @theatre.address %>
</p>

<% if @shows.blank? %>
  <p>No movies playing here currently</p>
<% else %>
    <table class="table-striped table">
      <thead>
      <tr>
        <th>Movie</th>
        <th>Show Time</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      <% @shows.each do |show| %>
        <tr>
          <td><%= @all_movies.select {|x| x[0]==show.movie_id}.first[1] %></td>
          <td><%= show.start %></td>
          <td><%= link_to "Book", new_show_booking_path(show)%></td>
        </tr>

      <% end %>
      </tbody>
    </table>
<% end %>


  <% if current_user.admin? or current_user.id = @theatre.manager_id %>
<%= link_to "Add a Show", new_theatre_show_path(@theatre), :class=>"btn btn-success btn-lg" %>
  <br><br>
<%= link_to 'Edit', edit_theatre_path(@theatre) , :class=>"btn btn-default" %>
<%end%>

  <%= link_to 'Back', theatres_path,:class=>"btn btn-default"  %>
</div>

