<!DOCTYPE html>
<html>
<head>
  <title>Movie Central</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('fav.ico'), :rel => 'icon', :type =>  'image/ico' %>


</head>

<body>
<%= render 'layouts/header' %>


<style>
  h1{
    color:white;

  }

  hr{
    color: white;
    background-color: white;
    border-color: white;
  }
</style>

<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>



  <p id="notice"><%= notice %></p>

  <h1>My Tickets</h1>

  <hr>

  <%= render :partial => "bookings/ticket", :collection => @bookings %>

  <br>


</div>
</body>
</html>



