<!DOCTYPE html>
<html>
<head>
  <title>Movie Central</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('fav.ico'), :rel => 'icon', :type =>  'image/ico' %>


</head>

<body>
<%= render 'layouts/header' %>


<style>
  h1{
    color:white;

  }

  hr{
    color: white;
    background-color: white;
    border-color: white;
  }
</style>

<div class="container">



  <p id="notice"><%= notice %></p>

  <h1>My Tickets</h1>

  <hr>

  <%= render :partial => "bookings/ticket", :collection => @bookings %>

  <br>


</div>

<% if current_user.admin? or current_user.manager? %>
<div class="container card">
<h1 style="color: black">Booking Log</h1>
  <hr style="border-color: black">
  <table  class="dataTable table table-striped " id="dttb" >
    <thead>
    <tr>
      <th>Movie</th>
      <th>User</th>
      <th>Number of seats</th>
      <th> Theatre</th>
    </tr>
    </thead>

    <tbody>
    <%if current_user.manager? %>
    <% @managerBookings.each do |booking| %>
      <tr>
        <td><%= booking.movie_name %></td>
        <td><%= booking.user_id %></td>
        <td><%= booking.seats %></td>
        <td><%= booking.theatre_name %></td>
      </tr>
    <% end %>
    </tbody>
      <%end%>

      <%if current_user.admin? %>

      <% @adminBookings.each do |booking| %>
        <tr>
          <td><%= booking.movie_name %></td>
          <td><%= booking.user_id %></td>
          <td><%= booking.seats %></td>
          <td><%= booking.theatre_name %></td>
        </tr>
      <% end %>
      <%end%>
        </table>


</div>

  <%end%>
</body>
</html>

<script>

    var len = $('.seat_name').length;
    $('.seat_name').each(function () {
      x=this.innerHTML;
      console.log(x)
      c=x%10;
      r=Math.floor(x/10);
      console.log(r)


      this.innerHTML=String.fromCharCode(r+65) + c+','
  })
</script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dttb').dataTable({
                width: 80,
                responsive: true
            }
        );
    });
</script>

