<% @seat= Seat.where(:booking_id=> @booking.id)%>

<div class="container1 container">

<p id="notice"><%= notice %></p>

<h1>
  <%= @booking.movie_name %> at <%= @booking.theatre_name %>

</h1>
<hr>

<h3>
  <strong>Seats:</strong>
  <% @seat.each do |seat| %>
    <span class="seat_name"><%= seat.seat_id %></span>
  <%end%>
</h3>

<h3>
  <strong>Time:</strong>
  <span><%=@booking.start_time.strftime("%a %d %b %l:%M %p")%></span>
</h3>

<% if current_user.admin? %>
<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>


 >

<%end%>

<br>
<%= link_to 'Edit', edit_booking_path(@booking), :class=>"btn btn-default" %>
<%= link_to 'Back', bookings_path, :class=>"btn btn-default" %>
</div>

<script>

    var len = $('.seat_name').length;
    $('.seat_name').each(function () {
        x=this.innerHTML;
        console.log(x)
        c=x%10;
        r=Math.floor(x/10);
        console.log(r)


        this.innerHTML=String.fromCharCode(r+65) + c+','
    })
</script>

