<%= bootstrap_form_with(model: permission, local: true, class: "col-md-7") do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :actions %>
    <%= form.text_field :subject_class %>
    <%= form.text_area :description %>
    <%= form.submit %>
<% end %>
