<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Listing Permissions</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table  class="dataTable table table-striped " id="dttb" >
        <thead>
        <tr>
          <th></th>
          <th>Actions</th>
          <th>Subject class</th>
          <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <% @permissions.each do |permission| %>
            <tr>
              <td><%= link_to  '<i class="fa fa-user"></i>Show'.html_safe, permission , :class =>"btn btn-primary btn-xs"%>
                <%= link_to '<i class="fa fa-pencil"></i>Edit'.html_safe, edit_permission_path(permission) , :class =>"btn btn-info btn-xs"%>
                <%= link_to '<i class="fa fa-trash-o"></i>Destroy'.html_safe, permission, method: :delete, data: {confirm: 'Are you sure?'} , :class =>"btn btn-danger btn-xs"%></td>
              <td><%= permission.actions %></td>
              <td><%= permission.subject_class %></td>
              <td><%= permission.description %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

    $(document).ready(function() {
        if ($("#datatable-responsive").length) {
            $("#datatable-responsive").DataTable({
                dom: "frtip",
                responsive: true,
                "oLanguage": {
                    "sSearch": "<b>Dynamic Search: </b>"
                }
            });
        }
    });

</script>

<%= link_to 'New Permission', new_permission_path , :class =>"btn btn-success", :style=>"margin: 0 auto;display: table;"%>
