<div class="col-md-10 col-lg-10">
<h1>Roles</h1>
<hr>
<table class="responsive nowrap table table-hover" id="dttb-roles" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="name">Name</th>
      <th data-data="description">Description</th>
      <th data-data="actions">Actions</th>
    </tr>
  </thead>

  <tbody>

  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name.capitalize %></td>
      <td><%= role.description %></td>
      <% if  can? :update, Role  %>
        <td>
          <%= link_to 'Edit', edit_role_path(role), :class => "btn btn-warning" %>
          <% if can? :destroy, Role %>
            <%= link_to 'Destroy', role, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %></td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>


</table>

<br>

<%= link_to 'New Role', new_role_path, :class => "btn btn-primary" %>

</div>