<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @show.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @show.end %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
