<nav class="navbar navbar-inverse navbar-static-top example-8">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-hide" href="#">Movie Portal</a>
    </div>
  </div>
</nav>

<nav class="sidebar-navigation">
  <ul>
    <%= link_to root_path do %>
      <li>
        <i class="fa fa-home"></i>
        <span class="tooltip">Home</span>
      </li>
    <% end %>

    <%= link_to movies_path do %>

      <li>
        <i class="fa fa-film"></i>
        <span class="tooltip">Movies</span>
      </li>
    <% end %>


    <%= link_to theatres_path do %>

      <li>
        <i class="fa fa-building"></i>
        <span class="tooltip">Theatres</span>
      </li>

    <% end %>

    <% if user_signed_in? %>

      <%= link_to bookings_path do %>
        <li>
          <i class="fa fa-ticket"></i>
          <span class="tooltip">My Tickets</span>
        </li>

      <% end %>

      <% if current_user.try(:admin?) %>


        <%= link_to  new_movie_path do %>
          <li>
            <i class="fa fa-plus"></i>
            <span class="tooltip">New Movies</span>
          </li>

        <% end %>


        <%= link_to  new_theatre_path do %>

          <li>
            <i class="fa fa-plus-square"></i>
            <span class="tooltip">New Theatres</span>
          </li>

        <% end %>

      <% end %>


      <%= link_to edit_user_registration_path do %>
        <li>
          <i class="fa fa-user"></i>
          <span class="tooltip">My Profile</span>
        </li>

      <% end %>




      <%= link_to(destroy_user_session_path, method: :delete) do %>
        <li>
          <i class="fa fa-sign-out"></i>
          <span class="tooltip">Logout</span>
        </li>

      <% end %>


  <%else%>

      <%= link_to new_user_session_path do %>
        <li>
          <i class="fa fa-sign-in"></i>
          <span class="tooltip">Login</span>
        </li>
      <% end %>

  <% end %>

  </ul>
</nav>









